## Python Data Types

Core Python data tyes (objects)
- int, float, bool, str, complex

*this is italic*

**this is bold**

you can also `highlight` some codes

In [4]:
import numpy as np
print(np.finfo(float).eps)
# 2.22044604925e-16

print(np.finfo(np.float32).eps)
# 1.19209e-07

2.220446049250313e-16
1.1920929e-07

In [7]:
A = (0.3*1e6 - 0.2*1e6 - 0.1*1e6)
A

0.0

In [77]:
a[0]

TypeError: 'int' object is not subscriptable

In [3]:
id(a)

140704360735248

In [4]:
b = a

In [5]:
whos

Variable   Type    Data/Info
----------------------------
a          int     5
b          int     5

In [6]:
b == a

True

In [7]:
id(b)

140704360735248

In [12]:
a = 100
b = 1000

In [20]:
whos

Variable   Type     Data/Info
-----------------------------
A          int      5
C          float    500.0
a          float    5.0
b          int      1000

In [15]:
a = 5.
type(a)

float

In [17]:
A = int(a)

In [27]:
C = float(500)

In [28]:
s1 = 'Hello'
type(s1)

str

In [29]:
z = 2+3j
type(z)

complex

In [30]:
whos

Variable   Type       Data/Info
-------------------------------
A          int        5
C          float      500.0
KA007      int        23423
KA_007     int        4412441
a          float      5.0
b          int        1000
s1         str        Hello
z          complex    (2+3j)

In [35]:
z.imag

3.0

In [40]:
z.real

2.0

In [38]:
z.conjugate()

(2-3j)

In [42]:
s1.strip()

'Hello'

In [43]:
B = True
B

True

In [54]:
b = bool(0)

In [55]:
whos

Variable   Type       Data/Info
-------------------------------
A          int        5
B          bool       True
C          float      500.0
KA007      int        23423
KA_007     int        4412441
a          float      5.0
b          bool       False
s1         str        Hello
z          complex    (2+3j)

## Core Python Containers / Collections

- str >> Collection of characters 
- list
- tuple
- dict
- set

For each we want to know:
- indexable?
- mutable?
- iterable?
- sortable?

In [56]:
s1 = 'Hello World'

In [60]:
s2 = "anything"
s3 = 'Prashant\'s copy'
s3

"Prashant's copy"

In [66]:
path = r'C:\Users\dell\Google Drive\Training\HSBC India 2020'
path

'C:\\Users\\dell\\Google Drive\\Training\\HSBC India 2020'

In [74]:
p = """'you can put anythng ~!@~!~!@#$@!#%$#@$^$'''''''
vdcsdcvsdv
cvsdfsdfv
sdv'''''dsvsvdv
dsfsfsffsd """

In [75]:
p

"'you can put anythng ~!@~!~!@#$@!#%$#@$^$'''''''\nvdcsdcvsdv\ncvsdfsdfv\nsdv'''''dsvsvdv\ndsfsfsffsd "

## Indexing

- Linear Index  >> 1D Data structures >> str, list, tuples, dict*, set
- [Row,Col] index  >> 2D Data structures >> Numpy Arrays, Pandas DataFrames
- Boolean / Logical / Conditional indexing

In [81]:
len(s1)

11

In [82]:
s1[0]

'H'

In [83]:
s1[-1]

'd'

In [84]:
s1[0:5]     # start from the start index, but stop 1 before the stop-index

'Hello'

In [85]:
s1[:5]   # list out the 1st 5 elements

'Hello'

In [87]:
s1[6:]   # if no end-index is provided, it will go till the end

'World'

In [89]:
s1[::2]

'HloWrd'

In [93]:
s1[1:9:3]

'eoo'

In [94]:
s1[::-1]   # Reversing a string using Purely indexing

'dlroW olleH'

In [98]:
s1[-5::1]   # fetch the last 5 elements

'World'

In [100]:
s1[0] = 'h'

TypeError: 'str' object does not support item assignment

In [101]:
s1.upper()

'HELLO WORLD'

In [102]:
s1

'Hello World'

In [104]:
s1.replace('l', 'z')

'Hezzo Worzd'

In [106]:
s1 = s1.replace('l', 'z')
s1

'Hezzo Worzd'

In [107]:
s1

'Hezzo Worzd'

In [109]:
s1.count('z')

3

In [117]:
s1.index('z', 7,9)

ValueError: substring not found

In [118]:
s1.isalnum()

False

In [119]:
s1.isalnum()

False

In [139]:
s2 = input('Enter a numer: ')

Enter a numer: 34242

In [140]:
s2

'34242'

In [141]:
if s2.isnumeric()==False:
    print('You did not enter a number')
else:
    print('thanks for your numeric input')

print('Good Luck')

thanks for your numeric input
Good Luck

In [155]:
' '.join([s1, 'hi'])

'Hezzo Worzd hi'

In [159]:
s2 = s1 + ' ' + 'hi there'
s2

'Hezzo Worzd hi there'

In [157]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [160]:
s2.split('z')

['He', '', 'o Wor', 'd hi there']

In [164]:
# s1 >> iterable, char >> iterator variable

s1 = 'Hello'
for char in s1:
    print(char*5)

HHHHH
eeeee
lllll
lllll
ooooo

In [171]:
s2 = 'abc123xa'
sorted(s2)

['1', '2', '3', 'a', 'a', 'b', 'c', 'x']

In [172]:
s3 = ''
for x in sorted(s2):
    s3 = s3 + x

In [173]:
s3

'123aabcx'

## Lists
- collections of multiple data objects

In [174]:
lst1 = ['red', 'apple', True, 3.14, 9501]

In [177]:
len(lst1)

5

In [178]:
lst1.index(3.14)

3

In [179]:
lst1.count('red')

1

In [180]:
lst1.pop()

9501

In [181]:
lst1

['red', 'apple', True, 3.14]

In [182]:
lst1.pop(1)

'apple'

In [184]:
lst1.append('banana')

In [185]:
lst1

['red', True, 3.14, 'banana']

In [186]:
lst1.insert(2, 'Prashant')

In [187]:
lst1

['red', True, 'Prashant', 3.14, 'banana']

In [188]:
lst1.remove('Prashant')

In [189]:
lst1

['red', True, 3.14, 'banana']

In [191]:
lst1.append(['blue', 'sky'])

In [192]:
lst1

['red', True, 3.14, 'banana', ['blue', 'sky']]

In [196]:
lst1[-1][0]

'blue'

In [199]:
lst1.extend(['blue', 'sky'])

In [200]:
lst1

['red', True, 3.14, 'banana', 'blue', 'sky']

In [201]:
lst1.extend('Hello')

In [202]:
lst1

['red', True, 3.14, 'banana', 'blue', 'sky', 'H', 'e', 'l', 'l', 'o']

In [207]:
lst2 = lst1.copy()

In [208]:
lst2.pop()

'l'

In [216]:
lst2.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [210]:
lst1

['red', True, 3.14, 'banana', 'blue', 'sky', 'H', 'e', 'l', 'l']

In [217]:
nums = [12,2,30,24,15]
sorted(nums)

[2, 12, 15, 24, 30]

In [212]:
nums.sort()

In [213]:
nums

[2, 12, 15, 24, 30]

In [214]:
nums.reverse()   # "in-place"

In [218]:
nums

[12, 2, 30, 24, 15]

## Tuples
- "read-only" list

In [221]:
tup1 = tuple(lst1)
tup1

('red', True, 3.14, 'banana', 'blue', 'sky', 'H', 'e', 'l', 'l')

In [222]:
tup2 = (1,2, True, [10,20,30], 'Hello')

## Dictionary

- collection of key-value pairs

In [229]:
d1 = {'India':5000, 3.14:'pi', 10:True, \
      'Hi':{'k1':10, 'k2':{'kk1':10, 'kk2':200 }}}
d1

{'India': 5000,
 3.14: 'pi',
 10: True,
 'Hi': {'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}}}

In [230]:
len(d1)

4

In [249]:
d1['India']

5000

In [250]:
d1['India'] = 5001

In [251]:
d1

{'India': 5001,
 3.14: 'pi',
 10: True,
 'Hi': {'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}}}

In [254]:
list(d1.keys())[0]

'India'

In [241]:
for key in d1.keys():
    print(key)

India
3.14
10
Hi

In [255]:
list(d1.values())[-1]

{'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}}

In [242]:
for val in d1.values():
    print(val)

5000
pi
True
{'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}}

In [256]:
d1.items()

dict_items([('India', 5001), (3.14, 'pi'), (10, True), ('Hi', {'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}})])

In [257]:
for item in d1.items():
    print(item)

('India', 5001)
(3.14, 'pi')
(10, True)
('Hi', {'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}})

In [261]:
dt = [('Prashant', 1), ('Shantanu', 2), ('Diviyansha', 3)]

In [262]:
# unpacking or unzipping a tuple
for i, j in dt:
    print(i, j*10)

Prashant 10
Shantanu 20
Diviyansha 30

In [258]:
# unpacking or unzipping a tuple/dict!!
for key, val in d1.items():
    print(key*5, val)

IndiaIndiaIndiaIndiaIndia 5001
15.700000000000001 pi
50 True
HiHiHiHiHi {'k1': 10, 'k2': {'kk1': 10, 'kk2': 200}}

## Sets
- collection of "unique" items

In [263]:
lst1 = [1,2,1,2,'a', 'b', 'a']
set1 = set(lst1)
set1

{1, 2, 'a', 'b'}

In [268]:
set2 = {2,3,4,2,3,4,'a','world'}
set2

{2, 3, 4, 'a', 'world'}

In [269]:
set1.intersection(set2)

{2, 'a'}

In [270]:
set1.union(set2)

{1, 2, 3, 4, 'a', 'b', 'world'}

In [271]:
set1.isdisjoint(set2)

False

In [274]:
set(list(d1.keys()))

{10, 3.14, 'Hi', 'India'}

In [296]:
# write down a program to check whether a numer is prime 
num = 97
for x in range(2,int(num/2)+1):
    print(x)
    if num%x == 0:
        print(x, 'is a factor of', num)
        break
else:
    print(num, 'is prime indeed. Yay!')

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
97 is prime indeed. Yay!

In [303]:
nums = list(range(20,30,2))
nums

[20, 22, 24, 26, 28]

In [308]:
d1 = {}
for k, num in enumerate(nums, 0):
    d1[k] = num

In [309]:
d1

{0: 20, 1: 22, 2: 24, 3: 26, 4: 28}

In [318]:
num = int(input('Enter a number: '))
for x in range(2,int(num/2)+1):
    print(x)
    if num%x == 0:
        print(x, 'is a factor of', num)
        break
else:
    print(num, 'is prime indeed. Yay!')

Enter a number: 33
2
3
3 is a factor of 33

In [ ]:
import math

In [326]:
num = int(input('Enter a number: '))
try:
    v = math.sqrt(num)
    print(v)
except ValueError as e:
    print('Enter a number > 0')

Enter a number: -55
Enter a number > 0

In [ ]:
import time
# do not run this code !!!
while True:
    try:
        print('I am stuck in a infinite while loop')
        time.sleep(2)
    except KeyboardInterrupt as K:
        print('while loop has been interuppted !')
        break